/* growtweeter/src/pages/NotFoundPage.styles.module.css */
.not-found-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: #555;
}

.not-found-page-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.not-found-page-container p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.not-found-page-container a {
    color: #1da1f2;
    text-decoration: none;
    font-weight: bold;
}

.not-found-page-container a:hover {
    text-decoration: underline;
}